body{
	 background-color:#f2f3dc;
	 background-image:url(../image/bgimg.png);
	 background-repeat:repeat
}
.nav{
	background-image:-webkit-linear-gradient(#325A97,#5669A4,#325A97);
	height:30px;
	width:931px;
	margin:0 auto;
	border-radius:5px;
}
ul,ul li{list-style:none;}
.nav ul{width:931px;margin:0 auto;}
.nav ul li{
	float:left;
	line-height:30px;
	margin-left:10px;
}
.nav ul li a{
	color:#FFF;
	font-size:15px;
    text-decoration:none;	
	font-weight:700;
}
.nav ul li a:hover{color:yellow; text-decoration:underline;}
.line{
	background:#FFF;
	width:1px;
	height:30px;
}
.center{
	width:931px;
	margin:0 auto;
	overflow:hidden;
	background:url(../image/bgimg.png);
	background-repeat:repeat;
}
.list{
	float:left;
	width:180px;
	background:url(../image/bgimg.png);
	background-repeat:repeat;
}
dl.list_title { width:180px; margin-top:8px; }
dl.list_title dt { 
	padding:4px 3px; 
	border:1px solid #bac9b4; 
	font-size:12px; 
	font-weight:bold; }
dl.list_title dd { 
	overflow:hidden; 
	height:387px; 
	border:1px solid #bac9b4; 
	border-top:none; 
	background:#fcfdf7; padding:3px;  
}
dl, dt, dd { margin:0; padding:0;  }
a:visited {
color: #505050;
text-decoration: none;
}
a:link {
color: #505050;
text-decoration: none;
}
a {
color: #505050;
text-decoration: none;
font-size:13px;
}
a:hover{color:orange; text-decoration:underline;}
user agent stylesheeta:-webkit-any-link {
color: -webkit-link;
text-decoration: underline;
cursor: auto;
}
dl.pic { 
    overflow:hidden;
	width:240px; 
	height:134px; 
	background:url(../image/box.gif) no-repeat; 
	white-space:normal; 
	float:left; 
	margin:3px; 
	margin-top:8px; 
}
dl.pic dt { padding:4px 3px; }
dl.pic strong { padding-left:13px;}
dl.pic dd { overflow:hidden; padding:3px;  }
dl.pic dd img { float:left; width:220px; height:98px;  margin:5px 10px; box-shadow:1px 1px 10px #5c5c5c;}
dl.pic dd span { float:right; display:block; width:60px; margin:10px; color:#666668 }
.pic_table { float:right; width:740px; }
dt{	font-size:12px; }
.divide {margin:8px;}
div.clear {clear: both;}
.news{ float:left; width:220px; float:left;}
ul.news_list{padding:0px; margin:0px;}
ul.news_list li { 
    font-size:13px;
	padding-left:10px; 
	line-height:32px; 
	border-bottom:1px dashed #4d4d4d; 
}
.com { float:left; width:476px; margin-left:20px }
dl.intro { margin:5px 0; height:100px }
dl.intro dt { float:left; width:130px; height:93px; }
dl.intro dt img { width:130px; height:98px;  }
dl.intro dd { float:right; width:328px; color:#848484; }
dl.intro strong { color:#333333 }
dl.intro span { display:block; white-space::normal;word-break:break-all; }
ul.com_link { margin-top:16px; padding-left:10px;  }
ul.com_link li { 
	padding-left:10px; 
	line-height:26px; 
	border-bottom:1px dashed #cdcdcd; 
}
p{font-size:13px;}
.ziti{font-size:14px;}
.ques { float:right; width:197px; }
dl.ques_list dt { width:197px; height:26px; }
dl.ques_list dt a { 
	display:block; 
	width:197px; 
	height:26px; 
	background:url(../image/question.gif) no-repeat;
}
dl.ques_list dd { border:1px solid #e5e8dd; border-top:none; background:#f5f5f5; }
ul.ques_list2 { overflow:hidden; padding:0px; margin:opx;}
ul.ques_list2 li { margin:7px 0; padding-left:5px; border-bottom:1px dashed #4d4d4d; }
ul.ques_list2 li h3 { margin:0; padding:0; line-height:28px; }
.footer { overflow:hidden; width:930px; margin:0 auto; }
.tothetop{text-align:center; text-shadow:0.2px 0.2px 0.2px #5c5c5c; font-weight:bold; font-size:14px}