@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body{
    background: #EBEEEF;
    padding: 80px 0 0 0;
    font-family: 'Ubuntu', sans-serif;
}
.noFill {
  fill: none;
}
.complete{
    text-decoration: line-through;
    color: #888;
}
header{
    background: #25B99A;
    height: 80px;
    width: 100%;
    padding: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    box-shadow: 0 2px 4px rgba(44,62,80,.15);
}
header input{
    position: relative;
    width: 100%;
    height: 50px;
    float: left;
    color: #fff;
    font-weight: 400;
    text-indent: 18px;
    padding: 0 60px 0 0;
    border-radius: 5px 25px 25px 5px;
    font-size: 15px;
    border: 0px;
    outline: none;
    box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: rgba(255, 255, 255,0.2)
}
header input::-webkit-input-placeholder {
   color: rgba(255, 255, 255,0.75);
}

header input:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255,0.75);  
}

header input::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255,0.75);  
}

header input:-ms-input-placeholder {  
   color: rgba(255, 255, 255,0.75);  
}
button[id='addItem']{
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #fff;
    border: 0px;
    box-shadow: none;
    outline: none;
    transform: translate(-15px,15px);
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}
button[id='addItem']:hover{
    background: rgba(255, 255, 255, .9)
}
#addItem svg{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    transform: translate(-8px,-8px);
    fill: #25B99A;
}

main{
    padding: 15px;
}
section{
    margin-bottom: 20px;
}
section#todoItem ul{
    position: relative;
}
section#todoItem ul:empty::after{
    content: "You have nothing to do!";
    position: absolute;
    left: 50%;
    transform: translate(-50%,-10px);
    font-size: 14px;
    color: #aaa;
}
section#finishedItem ul{
    position: relative;
}
section#finishedItem ul:empty::after{
    content: "You havn't done nothing!";
    position: absolute;
    left: 50%;
    transform: translate(-50%,-10px);
    font-size: 14px;
    color: #aaa;
}
section li{
    height: 50px;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: white;
    border-radius: 5px;
    font-size: 16px;  
    padding-left: 15px;
    line-height: 50px;  
    position: relative;
}
section li:not(:last-child){
    margin-bottom: 15px;
}
section .button{
    width: 100px;
    height: 50px;
    outline: none;
    box-shadow: none;
    border: 0px;
    background: white;
    position: absolute;
    right: 0;
    top: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 0;
}
section .button button{
    width: 50px;
    height: 50px;
    outline: none;
    box-shadow: none;
    border: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0;
    background: transparent;
}
.button #remove svg,.button #complete svg{
    width: 22px;
    height: 22px;
}
.button #complete{
    position: relative;
}
.button #complete svg{
    border: 1.5px solid #25b99a;
    transition: background 0.2s ease;
    border-radius: 50%;
}
.button #complete svg .fill{
    fill: #25b99a;
}
.button #remove svg{
    fill: #C0CECB;
}
.button #remove:hover svg{
    fill: rgba(255, 0, 0, .75);
}
.button #complete:hover svg{
    border: 0px;
}
.button #complete:hover svg .noFill{
    fill: #25b99a;
}
.button #complete:hover svg .fill{
    fill: rgb(255, 255, 255);
}
section .button button{
    cursor: pointer;
}
.button #complete::before{
    content: "";
    display: block;
    width: 1px;
    height: 30px;
    position: absolute;
    background: #EDF0F1;
    left: 0;
    top: 50%;
    transform: translate(0,-50%)
}
#finishedItem{
    position: relative;
}
#finishedItem::before{
    content: "";
    display: block;
    height: 1px;
    background: #D7E3E0;
    width: 50%;
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translate(-50%,10px);
}